body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  background: rgb(226, 229, 231);
  color: #14171a;
}

span.lookml {
  font-family: 'Source Code Pro', monospace;
  color:#6997bf;
  font-weight: bold;
}

span.port {
  font-family: 'Source Code Pro', monospace;
  color: rgb(223, 55, 125);
  font-weight: bold;
}

span.special {
  font-family: 'Source Code Pro', monospace;
  color: #000;
  font-weight: bold;
}
